.produtos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.produto {
  border: 1px solid black;
  width: 290px;
  height: 310px;
  max-width: 290px;
  max-height: 310px;
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.produto p {
  font-size: 15px;

}

.produto img {
  width: 250px;
  height: 180px;
  max-width: 250px;
  object-fit: cover;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.buttons button {
  width: 90px;
  height: 27px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.detalhes {
  background: green;
  color: aliceblue;
}

.comprar {
  background: aqua;
  color: aliceblue;
}

.buttons button:active {
  opacity: 0.5;
}
